<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<!--suppress ALL -->
<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>com.gitee.lixlu.AppServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/simple-servlet</url-pattern>
    </servlet-mapping>
</web-app>
